# Build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db

# Binaries
omni_money

# Frontend
frontend/node_modules/
frontend/dist/*
!frontend/dist/.keep

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Wails
tmp_wails/

# Logs
logs/

# Backups
backups/
build/bin/
